body{
    background: #F1FAEE;
    color: #1D3557;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 50vh;*/

}
.h1{
    text-align: center;
    color: #1D3557;
    /*padding: 50px;*/
    margin-top: 100px;

}
img{
    height: 200px;
    /*width: 200px;*/
    margin: 5px auto;
}
h1{
    text-align: center;
    color: #1D3557;
    font-size: 70px;
}

.container{
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.container h3{
    color: #E63946;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box button{
    margin-inline: auto;
    background: #457B9D;
    color: #F1FAEE;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: .2s all;
    font-size: 45px;
}
.box button:active{
    transform: translateY(2px);
}
#meetYear{
    color: #E63946;
    text-transform: capitalize;
    animation: ease-in flash ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 45px;
}

@keyframes flash {
    from{
        background:#1D3557 ;
    }
    to{
        background: #A8DADC;
    }

}
